*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.sidebar-left {
    background-color:black;
    height: 100vh;
    width: 120px;
    float: left;
}

.child{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    padding-top: 7px;
    color: white;
}

.sidebar-left a .child:hover{
    width: 100%;
    height: 35px;
    background-color: rgb(128, 128, 128);
    padding-left: 5px;
    padding-top: 7px;
    color: white;
}
.content{
    width: 100%;
    height: 100vh;
}

.content div{
    text-align: center;
}
.lorem_content{
    display: flex;
    justify-content: center;
}
.lorem{
    padding: 5% 0;
    width: 80%;
    /* height: 150px; */
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 194, 194);

}
.lorem1{
    width: 70%;
    height: 100px;
}
.lorem_content1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.lorem_content2{
    display: flex;
    width: 80%;
    height: 250px;
    
}
.lorem_content2 h3{
    margin: 5% 0;
    float: left;
}
.left{
    width: 33%;
    height: 100%;
    padding-right: 2%;

}
.center{
    width: 34%;
    height: 100%;
}
.right{
    width: 33%;
    height: 100%;
}
.left_content{
    width: 100%;
    display: flex;
}
.img{
    width: 25%;
    height: 100px;
}
.img img{
    width: 100%;
    height: 100%;
}
.text{
    width: 75%;
    height: 100px;
}
.text p{
    text-align: left;
}
.text2 {
    width: 100%;
    height: 80px;
}
.text2 p{
    text-align: left;
}

@media screen and (max-width:1097px) {
    .left_content{
        margin-bottom: 5%;
    }
}
@media screen and (max-width:1051px){
    .sidebar-left {
        font-size: 80%;
    }
    .img_1 img{
        width: 30%;
        height: 30%;
    }
    .lorem1 p, h3{
        font-size: 80%;
    }
    .text{
        font-size: 80%;
    }
    .text2{
        font-size: 80%;
    }
    .left_content .img{
        width: 30%;
        height: 30%;
    }
    
}
@media screen and (max-width: 832px) {
    .left_content{
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 708px) {
    .left_content{
        margin-bottom: 25%;
    }
}
@media screen and (max-width: 697px) {
    .left_content{
        margin-bottom: 35%;
    }
    .lorem{
        height: 230px;
    }
}
@media screen and (max-width:645px) {
    .lorem{
        width: 100%;
        height: 230px;
    }
    .left_content{
        margin-bottom: 40%;
    }
}
@media screen and (max-width:615px) {
    .left_content{
        margin-bottom: 50%;
    }
}
@media screen and (max-width:600px) {
    .left_content{
        margin-bottom: 60%;
    }
}
@media screen and (max-width:550px) {
    .left_content{
        margin-bottom: 100%;
    }
}
